*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body .my_root{
    width: 100vw;
    height: 100vh;
    justify-content: left;
    background-color: #f4f6f9;
}

.my_root .navbar{
    z-index: 1;
    width: 100%;
    display: flex;
    padding: 0 2rem;
    height: 3.325rem;
    position: relative;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.navbar .bar3{
    background-color: #8d9093;
    height: 0.125rem;
    width: 1rem;
    margin-right: 2rem;
}

.navbar .bar3::before{
    background-color: #8d9093;
    display: inline-block;
    position: relative;
    height: 0.125rem;
    content: '';
    width: 1rem;
    top: -0.9375rem;
}

.navbar .bar3::after{
    background-color: #8d9093;
    display: inline-block;
    position: relative;
    height: 0.125rem;
    content: '';
    width: 1rem;
    top: -1.4375rem;
}

.navbar .bar3:hover, .navbar .bar3:hover::before,
.navbar .bar3:hover::after{
    background-color: black;
}


.navbar .logo{
    color: #8d9093;
    font-weight: 500;
    font-size: 1.2rem;
    border-radius: 0.15rem;
    border: 1px solid #8d9093;
    padding: 0.25rem 0.5rem 0 0.5rem;
}

.navbar .logo:hover{
    color: black;
    border: 1px solid black;
}

.navbar .nav_right{
    flex: 1 1 auto;
    text-align: right;
}

.nav_right i{
    color: #8d9093;
    font-size: 1.3rem;
    margin-left: 1rem;
}

.nav_right i:hover{
    color: black;
}

.nav_right input{
    font-size: 0.9375rem;
}

.my_root .main_contain{
    width: 100%;
    display: flex;
    height: calc(100vh - 4rem);
}

.main_contain .left_side{
    width: 80%;
    height: 100%;
    overflow: hidden;
}

.left_side svg{
    width: 95%;
    height: 95%;
}

svg path{
    transition: all 2s ease-in-out;
}

svg path:hover{
    fill: crimson;
}

.main_contain .right_side{
    width: 20%;
    height: 100%;
    display: flex;
    padding-top: 1rem;
    margin-top: 0.3125rem;
    border-radius: 1.25rem;
    box-sizing: border-box;
    justify-content: center;
    margin-right: 0.3125rem;
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(0,0,0, 0.1);
}

.right_side .count_select{
    height: 6%;
    width: 80%;
}